<!-- <div>
  <h3>True or False checked</h3>
  <mat-button-toggle color="primary" #toggleBtn>Toggle</mat-button-toggle>
  {{toggleBtn.checked}}
  <br>
  <br>
  <br>

  <h3>Toggle </h3>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div> -->
<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->


<app-header *ngIf="showHeadFooter"></app-header>
<router-outlet></router-outlet>