/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.innerLogo{    width: 120px;background: #fff;}
.center{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
a:hover{text-decoration: none}
.grayBtn{ background: #1d1d1b; color: #fff}
.grayBtn:hover{ background: #3f3f3f; color: #fff}
/* .mat-raised-button.mat-primary:hover{ background: #830223} */