<div class="loginBg">
        <div class="center">
                <div class="example-button-row">
                        <a routerLink="/new-transaction" mat-raised-button color="primary"> <i class="material-icons">
                                        post_add
                                </i>New Transaction</a>
                        <a routerLink="/view-submitted-transactions" mat-raised-button class="grayBtn"> <i
                                        class="material-icons">
                                        swap_horiz
                                </i> View
                                Submitted Transactions</a>
                </div>
        </div>
</div>